<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
	<title>
		Pet Care
	</title>

	<!-- Icon -->
	<link rel="icon" href="https://media.discordapp.net/attachments/798846408832712766/798846497051377734/Window_Icon.png?width=473&height=473">

	<!-- Style -->
	{% include "snippets/style.html" %}
</head>
<body>

	<!-- Navbar -->

	<!-- Header -->
	{% block header %}
	    
	{% endblock header %}

	<!-- Content -->
	{% block content %}

	{% endblock content %}

	<!-- Script -->
	{% include "snippets/script.html" %}

</body>
</html>