
/* Import */
@import url(background.css);
@import url(box.css);
@import url(font.css);
@import url(form.css);


body {
	font-family: "Montserrat", sans-serif;
	font-size: 20
}

.user-pp {
	width: 10%;
}

.user-pp-2 {
	width: 15%;
}

.borderless {
	border: 0px;
}



