{% extends "snippets/layout.html" %}


{% block content %}

<div class="jumbotron jumbotron-fluid">

	<img class="background-horizontal" src="https://cdn.discordapp.com/attachments/712594014859296788/798840578128871465/HomepagePengguna.png">
	
	<div class="user-name">
		<div class="user-font">
			{{ user.name }}
		</div>
	</div>


	<div class="box-feature">
		<div class="row">
			<!-- CHAT -->
			<div class="col">
				<a href="{{ url_for('ChatMenu') }}">
					<img style="width: 200px;" src="https://media.discordapp.net/attachments/798846408832712766/798846503761739806/Chat_btn.png">
				</a>
			</div>

			<!-- PET SHOP -->
			<div class="col">
				<a href="#">
					<img style="width: 200px;" src="https://media.discordapp.net/attachments/798846408832712766/798846493649797140/Petshop_btn.png">
				</a>
			</div>

			<!-- INFO -->
			<div class="col">
				<a href="#">
					<img style="width: 200px;" src="https://media.discordapp.net/attachments/798846408832712766/798846531154477066/Info_btn.png">
				</a>
			</div>
		</div>
	</div>
	
	<!-- LOGOUT -->
	<div class="box-logout">
		<a href="{{ url_for('Logout') }}">
			<img style="width: 100px;" src="https://media.discordapp.net/attachments/798846408832712766/798880466421022770/Logout_btn.png?width=516&height=473">
		</a>
	</div>


</div>

{% endblock content %}


