{% extends "snippets/layout.html" %}


{% block content %}

<div class="jumbotron jumbotron-fluid">

  {% include "snippets/background.html" %}
  <div class="box-form-login user-chat-font text-center">
		<b>
			Akun berhasil dibuat
		</b>
	<br>
		<b>
			Sekarang kamu bisa login
		</b>
	<br>

	<!-- Login Button -->
	<a href="{{ url_for('index') }}">
		<img class="btn-manual-1" src="https://media.discordapp.net/attachments/798846408832712766/798846542513045524/Login_btn.png?width=1025&height=466">
	</a>
	  
  </div>
</div>

{% endblock content %}


