{% extends "snippets/layout.html" %}


{% block header %}

<div class="jumbotron jumbotron-fluid">

  {% include "background.html" %}
  <div class="text-left box-form-login">
	
	<b>
		Akun berhasil dibuat. Sekarang kamu bisa login
	</b>
	<br>
	
	<!-- Login Button -->
	<a href="{{ url_for('index') }}">
		<img class="btn-manual" src="https://media.discordapp.net/attachments/798846408832712766/798846542513045524/Login_btn.png?width=1025&height=466">
	</a>
	  
  </div>
</div>

{% endblock header %}


